[Unit]
Description=ProtonVPN GUI
After=default.target

[Service]
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
Type=simple
ExecStart=/usr/bin/sh -c "~/.nix-profile/bin/protonvpn-app"
Restart=no

[Install]
WantedBy=default.target
